@import url("./fonts.css");

:root {
  --color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: Styrene A Web;
  font-family: "Styrene A Web";
}

.container {
  max-width: 1600px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header p {
  font-size: 24px;
  color: var(--color);
}

header img {
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../assets/icons/BackgroundImage.png");
  background-position: center;
  background-size: cover;
}

.social_media {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.langs {
  list-style: none;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.hero-container {
  position: relative;
  height: calc(100vh - 80px);
  max-width: 1330px;
  margin: 0 auto;
}

.langs a {
  color: rgba(255, 255, 255, 0.4);
  width: 40px;
  height: 40px;
  gap: 10px;
  border-radius: 52px;
  border: 1px solid #e3e3e3;

  font-size: 14px;
  background-color: var(--black);
  text-decoration: none;
  font-weight: 700;

  display: grid;
  place-content: center;
}

.langs li .active a {
  color: var(--black);
  opacity: 1;
  border-color: var(--white);
  background-color: var(--white);
}

.langs .active a {
  background-color: #ffffff;
  color: #000000;
}

.about_section {
  background-color: black;
  width: 100%;
}

.second {
}

.px_89 {
  color: #ffffff;
  font-size: 89px;
  font-weight: 900;
  line-height: 113.65px;
  text-align: left;
}

.above {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nas {
  padding-top: 100px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.circle {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-left: 40px;
}

.artel {
  width: 700px;
  padding-left: 40px;
  padding-bottom: 48px;
  text-align: center;
  margin: auto;
}

.zero_one {
  text-align: center;
  margin: auto;
  position: relative;
  background-color: #15171b;
}

.o_one {
  position: absolute;
  right: 60px;
  top: 60px;
  font-size: 36px;
  font-weight: 500;
  line-height: 45.97px;
  text-align: right;
  color: #00d162;
}

.history {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 40px;
  text-align: left;
}

.px_48 {
  font-size: 48px;
  font-weight: 500;
  line-height: 61.3px;
}

.px_24 {
  font-size: 24px;
  font-weight: 300;
  line-height: 30.65px;
  color: #ffffff;
}

.artel {
  padding-right: 40px;
  padding-bottom: 20px;
}

.chitat_1 {
  text-align: right;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.bottom {
  margin-top: 40px;
  gap: 0;
}

.three {
  margin-right: 75px;
}

article {
  margin-top: 150px;
  margin-left: 50px;
}

.we {
  padding-top: 30px;
  width: 680px;
}

.partner {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: 50px;
  margin-top: 70px;
}

.con_firs {
  position: relative;
}

.first_con {
  width: 460px;
}

.contents {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}
